.navbar {
    background: url(resources/hacker-background.gif);
    height: auto;
}

.navbar-nav .nav-link {
    color: white;
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

body {
    color: white;
}

.svg-icon {
    width: 1.25em;
    height: 1.25em;
    font-size: 1.25em;
    fill: currentColor;
    margin-right: 0.25em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

.svg-icon path {
    fill: currentColor !important;
}

.hover-enlarge:hover {
    box-shadow: 8px 8px 8px blue;
    transform: scale(1.1);
    transition: .5s;
}

.hover-upward:hover {
    box-shadow: 8px 8px 8px blue;
    transform: translateY(-10px);
    transition: .5s;
}


.section-row-div {
    min-height: 90vh;
    /* //removed for dynamic height balik mo nalang future myke pag gusto mo+ */
    scroll-margin-top: 10vh;
}

#home-job {
    background: url(resources/hacker-background.gif);
    width: fit-content;
    padding: 1rem 2rem;
}

.spawn-btn{
  opacity:1;
  transform:scale(1);
  animation:popIn .6s ease forwards;
}

@keyframes popIn{
  0%{opacity:0;transform:scale(.8)}
  60%{opacity:1;transform:scale(1.1)}
  80%{transform:scale(.95)}
  100%{transform:scale(1)}
}


#imageDialog {
    max-width: 50vw;
    height: fit-content;
    outline: none !important;
}

footer {
    background-color: black;
    color: white;
}