.navbar {
    background: url(resources/hacker-background.gif);
    height: auto;
}

.navbar-nav .nav-link {
    color: white;
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}   

body {
    color: white;
}

.hover-enlarge:hover{
    box-shadow: 8px 8px 8px blue;
    transform:scale(1.1);
    transition: .5s;
}

.hover-upward:hover{
    box-shadow: 8px 8px 8px blue;
    transform:translateY(-10px);
    transition: .5s;
}

/* .section-row-div { //removed for dynamic height balik mo nalang future myke pag gusto mo+
    height: 90vh;
} */

#home-job {
    background: url(resources/hacker-background.gif);
    width: fit-content;
    padding: 1rem 2rem; 
}

#profile-picture {
    width: 200px;
    height: 200px;
}


#imageDialog {
    max-width: 50vw; 
    height: fit-content;
    outline: none !important;
}

footer {
    background-color: black;
    color: white;
}