.navbar {
    background-image: url(resources/hacker-background.gif);
    height: auto;
}

.navbar-nav .nav-link {
    color: white;
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}   

body {
    background: url(resources/tech-background.mp4);
    color: white;
}

.home-row-div {
    height: 90vh;
}

#home-job {
    background-image: url(resources/hacker-background.gif);
    width: fit-content;
    padding: 1rem 2rem; 
}

footer {
    background-color: black;
    color: white;
}